@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
